<!-- IMG connect with Title -->
<img class="finito" src="assets/img/finito.png">
<div class="connexion">
    <div style="background: red;" id="divConnect"></div>
    <h1><u><b>Relevé Raspberry</b></u></h1>
</div>

<!-- Encadrement + Data -->
<div class="ensembleElementPage">
    {{ heure }}
    <!-- DATA ENCADRER -->
    <div class="block1">
        <label>Degré : </label><span class="value">{{ degre ? degre + "°" : "" }}</span><br />
        <label>Pression : </label><span class="value">{{ pression ? pression + "hPa" : "" }}</span><br />
        <label>Humidité : </label><span class="value">{{ humidite ? humidite + "%" : "" }}</span><br />
        <label>Dernière actualisation : </label><span class="value">{{ derniereActu }}</span><br />
    </div>
    <br><hr width="90%"><br>
    <div class="block2">
        <label>Graphique des températures</label>
        <canvas width="50%" id="barCanvas" aria-label="chart" role="img"></canvas>
    </div>
</div>

<br><br><br><br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.min.js"></script>
<script>
    const barCanvas = document.getElementById("barCanvas");
    const barChart = new Chart(barCanvas, {
        type: "bar",
        data: {
            labels: ['Beinjing', 'Tokyo', 'Seoul', 'Hong kong'],
            datasets: [{
                data: [240, 120, 134, 123],
                backgroundColor: ['grey', 'red', 'blue', 'purple']
            }]
        }
    })
</script>